body,html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color:#E0E0E0;
  overflow-x: hidden;
  overflow-y: hidden;
  height:100%;
}

.container {
		display: flex;
		flex-direction: column;
    height: 100%;
    width: auto;
    background-color: #E0E0E0;
}

.header {
	background-color: #2196F3;
  height: 60px;
  width: 100%;
  color:#FFF;
  display:flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 2px;
  z-index: 1;
  position: absolute;
}

.menu-img {
  padding-left: 1.2em;
	width:auto;
  height:36px;
  cursor: pointer;
}

.fullscreen-img {
  position: absolute;
  left: 96vw;
  display: none;
}

.header-text {
	padding-left: 16px;
  font-size: 20px;
}

.card-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  margin-top: 80px;
}

.card {
  height:236px;
  width:300px;
  background-color: #FFF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  position: static;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.Weather-text {
  z-index: 2;
  position: absolute;
  color: #FFF;
  align-self: center;
  padding:20px;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.card-text {
  z-index: 1;
  position: absolute;
  top:25vh;
  padding-bottom: 4px;
  align-self: flex-end;
  margin-left: 11vw;
}

.card-text2 {
  z-index: 1;
  position: absolute;
  top:25vh;
  padding-bottom: 4px;
  margin-left: 15vw;
  align-self: flex-end;
}

a {
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: fixed;
  background-color: #FFF;
  left:-400px;
  top:0px;
  height:100%;
  width:20%;
  padding-top:0;
  padding-left:0;
  padding-right:0;
  box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.23);
  border-right: solid #95989A 1px;
}

.menuAnimation {
  animation: menu 0.15s 1;
  animation-fill-mode: forwards;
}

.menutext {
  position: absolute;
  z-index: 3;
  top:8vh;
  padding-left: 20px;
  color:#FFF;
}

.menutext2 {
  position: absolute;
  z-index: 3;
  top:9.5vh;
  padding-left: 20px;
  color:#FFF;
}

.menu a {
  text-decoration: none;
  color:#000;
  top: 16vh;
  position: relative;
  z-index: 3;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
}


.coverphoto {
  position:absolute;
  width:100%;
  height:145.4px;
  padding: 0;
  top:0;
  z-index: 2;
}

.account {
  position: absolute;
  z-index: 3;
  width:50px;
  height: 50px;
  top:3.5vh;
  padding-left: 20px;
}

.boxline {
  border-bottom: solid #95989A 1px;
  width:100%;
  height:200px;
}

.shade {
  position: absolute;
  width:80%;
  height:100%;
  left:20%;
  top:-100%;
  z-index: 2;
}

.shadeAnimation {
  animation: shade 0s 1;
  animation-fill-mode: forwards;
}

.mode-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mode {
  margin-top: 15vh;
}

.confirm {
  width:200px;
  height:120px;
  background-color: #FFF;
  z-index: 2;
  position: absolute;
  top:40vh;
  border: solid #95989A 1px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.confirm-area {
  width:200px;
  height:120px;
  background-color: #FFF;
  z-index: 1;
  position: absolute;
  top:40vh;
  border: solid #95989A 1px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.confirm-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.confirm-text {
  font-size: 15px;
  margin-left: 10px;

}

.displaynone {
  display:none;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sun {
  position: absolute;
  top: 34vh;
  left: 85vw;
}

.snow {
  position: absolute;
  top: 34vh;
  left: 10vw;
}

.degrees1 {
  top: 50vh;
  position: absolute;
  left: 10vw;
}

.degrees2 {
  top: 50vh;
  position: absolute;
}

.degrees3 {
  top: 50vh;
  position: absolute;
  left: 88vw;
}

.slider {
  width: auto;
  position: absolute;
  top: 50vh;
}

button {
  position: absolute;
  top: 60vh;
  width: 200px;
  height: 30px;
  background-color: #2196F3;
  border: 1px solid #2196F3;
  color: #FFF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index: 1;
}


input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 80%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #2196F3;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #2196F3;
  cursor: pointer;
  margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #2196F3, 0px 0px 1px #2196F3; /* Add cool effects to your sliders! */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #FFF, 0px 0px 1px #FFF;
  background: #FFF;
  border-radius: 2px;
  border: 0.2px solid #FFF;
}

#map {
height:100%;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 180px;
  height:40px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}

.square {
  width:150px;
  height:150px;
  border: 1px #2196F3 solid;
  position: absolute;
  z-index: 1;
  left:46vw;
  top:40vh;
}

.area-text {
  position: absolute;
  z-index: 1;
  color:#FFF;
  top:30vh;
  left:46.5vw;
  text-shadow:  0 2px 6px rgba(0, 0, 0, 0.3);
}

.FAB {
  height:56px;
  width:56px;
  border-radius: 128px;
  background-color: #1976D2;
  position:fixed;
  z-index: 1;
  left:93vw;
  top:87vh;
  cursor: pointer;
}

.location {
  margin-top: 16px;
  margin-left: 16px;
}

@keyframes menu {
  from {
    left:-400px;
  }
  to {
    left:0px;
  }
}

@keyframes shade {
  from {
    top:-100%;
  }
  to {
    top:0%;
  }
}

@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {

    body,html {
      overflow-y: scroll;
    }

    .menu {
      width:80%;
    }
    .shade {
      left:80%;
    }

    .fullscreen-img {
      left:80vw;
      display: inherit;
    }

    .snow {
      left: 4vw;

    }

    .sun {
      left: 70vw;
    }

    .card-container {
      flex-direction: column;
      justify-content: space-around;
      height: 170vh;
      width: 80vw;
    }

    .card-text-container {
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }

    .card-text {
      top:inherit;
      left:42vw;
    }

    .card-text2 {
      top:inherit;
      left: 60vw;
    }

    .FAB {
      left:70vw;
      top:85vh;
    }
    .area-text {
      top:30vh;
      left:30vw;
    }

    .square {
      left:30vw;
      top:40vh;
    }

    .degrees3 {
      left: 80vw;
    }

    .menutext {
      top: 12vh;
    }

    .menutext2 {
      top:14vh;
    }

    .menu a {
      top: 24vh;
    }

    .account {
      top:6vh;
    }
}

@media screen
 and (min-width : 360px)
 and (orientation:landscape)
   {

    body,html {
      overflow-y: scroll;
      overflow-x: scroll;
    }

    .header {
      width:1000px;
    }

    .menu {
      width:80%;
      left:-600px;
    }
    .shade {
      left:80%;
      background-color: red;
    }

    .fullscreen-img {
      left:90vw;
      display: inherit;
    }

    .snow {
      left: 4vw;

    }

    .sun {
      left: 70vw;
    }

    .card-container {
      flex-direction: row;
      justify-content: space-between;
      height: 170vh;
      width: 80vw;
    }

    .card-text-container {
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }

    .card {
      margin-left:20px;
    }

    .card-text {
      top:inherit;
      left:42vw;
    }

    .card-text2 {
      top:inherit;
      left: 60vw;
    }

    .FAB {
      left:70vw;
      top:85vh;
    }
    .area-text {
      top:30vh;
      left:30vw;
    }

    .square {
      left:30vw;
      top:40vh;
    }

    .degrees3 {
      left: 80vw;
    }

    .menutext {
      top: 12vh;
    }

    .menutext2 {
      top:14vh;
    }

    .menu a {
      top: 24vh;
    }

    .account {
      top:6vh;
    }
}
